<!DOCTYPE html>

<html lang="en">
<head>
    <title>Social Event Manager</title>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>