@using SocialEventManager.Shared.Constants
@model SocialEventManager.Shared.Models.Email.ForgotPassword
@{
    Layout = EmailConstants.LayoutPath;
}

<h1>Hi @Model.FirstName,</h1>
<p>
    Forgot you password?<br/>
    We received a request to reset the password for your account.
</p>
<p>To reset your password, <a href='@Model.ResetPasswordUrl'>click here</a>.</p>